header{
    background-color: #F9F0E0;
    color:black;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}
main{
    background-color: blanchedalmond;
    color: rgba(0, 0, 0, 0.959);
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}
article{
    display: flex;
}
img{
    width: 220px;
    height: 220px;
}
.artigo-autor{
    font-weight: bold;
}